body{
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #FFBF03;
    position:fixed;
    left: 0%;
    top:0%;
    width: 100%;
    height: 15vh;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.navbar__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar__menu--item{
    list-style: none;
    padding: 2%;
}
.titulo{
    position: fixed;
    margin-top: 14vh;
    left: 0%;
    width: 100%;
    background-color: gray;
}